<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <div class="container">
    <div>
      <button type="button" class="btn btn-primary" (click)="showEmployees()">Click to view Employees</button>
  </div>
  <br/>
    <table class="table table-striped">
    <thead>
      <tr>
        <th>Emp ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>E Mail</th>
        <th>Age in Yrs.</th>
        <th>Date Of Joining</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employeeData | paginate:{itemsPerPage:10, currentPage:p}">
        <td>{{emp.empId}}</td>
        <td>{{emp.firstName}}</td>
        <td>{{emp.lastName}}</td>
        <td>{{emp.gender}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.dateOfJoining | date:'MM/dd/yyyy'}} </td>
      </tr>
    </tbody>
  </table>
  <div *ngIf="employeeData!=''">
  <pagination-controls (pageChange)="p=$event"></pagination-controls>
</div>
  </div>
</div>
<router-outlet></router-outlet>
